.main-container {
	max-width: 72rem;
	margin: 0 auto;
	padding: 0 var(--p-4);
	columns: 2;
	padding-top: var(--p-8);
}

.thread-container {
	background-color: hsl(var(--background-color));
	/* border-radius: 0.75rem; */
	border-radius: var(--br-2);
	break-inside: avoid;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	border: 1px solid hsl(var(--primary-color));
	padding: var(--p-4) var(--p-8);
	margin-bottom: var(--m-4);
}

.thread-pokemon-grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	gap: 0.5rem;
	width: fit-content;
	margin: 0 auto;
	/* margin-bottom: 1rem; */
}

.thread-pokemon-container {
	position: relative;
	width: 3.5rem;
	height: 3.5rem;
}

.thread-pokemon-circle {
	background-color: hsl(var(--primary-color));
	position: absolute;
	border-radius: 100%;
	inset: 0px;
}

.thread-pokemon-image {
	position: absolute;
	inset: 0px;
}

.thread-title {
	font-weight: 700;
	font-size: var(--text-lg);
	margin-top: var(--m-4);
}

.thread-title a {
	color: hsl(var(--primary-color));
}

.thread-title a:hover {
	color: hsl(var(--primary-color-hover));
}

.thread-date {
	font-weight: var(--font-weight-light);
	font-size: var(--text-sm);
}

.thread-description {
}

.thread-no-description {
	font-weight: var(--font-weight-light);
	font-size: var(--text-sm);
}

.thread-footer {
	display: inline-flex;
	align-items: center;
	font-weight: var(--font-weight-light);
	color: hsl(var(--primary-color));
}

.filter-block {
	column-span: all;
	display: flex;
	justify-content: flex-end;
}

.dialog-filter {
	max-height: 80%;
	overflow-y: auto;
}

.label {
	display: block;
	margin: var(--m-2) 0;
}

.select-trigger {
	background-color: hsl(var(--background-2));
	display: flex;
	/* align-items: center; */
	width: 100%;
	text-align: left;
	padding: var(--p-3) var(--p-6);
	border-radius: var(--br-1);
	text-transform: capitalize;
	margin-bottom: var(--m-4);
}

.select-icon {
	margin-left: auto;
	height: 18px;
}

.select-trigger[data-placeholder]{
	color: hsl(var(--foreground-faint));
}

.select-content {
	overflow: hidden;
	background-color: hsl(var(--background-color));
	z-index: 40;
	border-radius: var(--br-1);
	box-shadow: var(--shadow-1);
}

.select-viewport {
	width: var(--radix-select-trigger-width);
}

.select-item {
	text-transform: capitalize;
	padding: var(--p-3) var(--p-6);
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.select-item:hover {
	background-color: hsl(var(--primary-color));
	color: hsl(var(--background-color));
}

[cmdk-list] {
	max-height: 20rem;
	overflow-y: scroll;
	margin-top: var(--m-4);
}

[cmdk-item] {
	padding: var(--p-2) var(--p-4);
	cursor: pointer;
	border-radius: var(--br-1);
}

[cmdk-item]:hover {
	background-color: hsl(var(--primary-color));
	color: hsl(var(--background-color));
}

.combobox-content {
	background-color: hsl(var(--background-color));
	width: var(--radix-popover-trigger-width);
	box-shadow: var(--shadow-1);
	padding: var(--p-6) var(--p-4);
	box-sizing: border-box;
	overflow: hidden;
	border-radius: var(--br-1);
	text-transform: capitalize;
	max-height: 20rem;
}

.combobox-input {
	background-color: hsl(var(--background-2));
	width: 100%;
	padding: var(--p-3) var(--p-4);
	box-sizing: border-box;
	border: none;
	font-family: inherit;
	font-size: inherit;
	border-radius: var(--br-1);
}

.selected-pokemon-ul {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	margin-bottom: var(--m-4);
}

.selected-pokemon-li{
	display: inline-flex;
	align-items: center;
	background-color: hsl(var(--background-2));
	padding: var(--p-3) var(--p-4);
	gap: 0.75rem;
	cursor: pointer;
	border-radius: var(--br-1);
	text-transform: capitalize;
}
