.main-container {
	max-width: 72rem;
	margin: 0 auto;
	padding: 0 1rem;
	columns: 24rem;
	padding-top: 2rem;
}

.thread-container {
	background-color: hsl(var(--background-color));
	border-radius: 0.75rem;
	break-inside: avoid;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	border: 1px solid hsl(var(--primary-color));
	padding: 1rem 2rem;
	margin-bottom: 1rem;
}

.thread-pokemon-grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	gap: 0.5rem;
	width: fit-content;
	margin: 0 auto;
	/* margin-bottom: 1rem; */
}

.thread-pokemon-container {
	position: relative;
	width: 3.5rem;
	height: 3.5rem;
}

.thread-pokemon-circle {
	background-color: hsl(var(--primary-color));
	position: absolute;
	border-radius: 100%;
	inset: 0px;
}

.thread-pokemon-image {
	position: absolute;
	inset: 0px;
}

.thread-title {
	font-weight: 700;
	font-size: var(--text-lg);
	margin-top: 1rem;
}

.thread-title a {
	color: hsl(var(--primary-color));
}

.thread-title a:hover {
	color: hsl(var(--primary-color-hover));
}

.thread-date {
	font-weight: var(--font-weight-light);
	font-size: var(--text-sm);
}

.thread-description {
}

.thread-no-description {
	font-weight: var(--font-weight-light);
	font-size: var(--text-sm);
}

.thread-footer {
	font-weight: var(--font-weight-light);
}

.label {
	display: block;
	margin: 0.5rem 0;
}

.select-trigger {
	background-color: hsl(var(--background-2));
	display: block;
	width: 100%;
	text-align: left;
	padding: 0.75rem 1.5rem;
	border-radius: 6px;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.select-trigger[data-placeholder]{
	color: hsl(var(--foreground-faint));
}

.select-content {
	overflow: hidden;
	background-color: hsl(var(--background-color));
	z-index: 40;
	border-radius: 6px;
	box-shadow: 0px 4px 16px rgba(20,20,20,0.2);
}

.select-viewport {
	width: var(--radix-select-trigger-width);
}

.select-item {
	text-transform: capitalize;
	padding: 0.75rem 1.5rem;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.select-item:hover {
	background-color: hsl(var(--primary-color));
	color: hsl(var(--background-color));
}
