.btn {
	padding: var(--p-3) var(--p-6);
	border-radius: var(--br-1);
}

.btn-primary {
	background-color: hsl(var(--primary-color));
	color: hsl(var(--primary-color-foreground));
}



.btn-wide {
	width: 100%;
}
