.navbar-header {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: hsl(var(--background-color));
}

.navbar-nav {
	display: flex;
	gap: 1rem;
	margin: auto;
	max-width: 84rem;
	align-items: center;
	padding: var(--p-2) var(--p-4);
}

.navbar-brand {
	font-size: var(--text-lg);
	font-weight: var(--font-weight-extrabold);
	color: hsl(var(--primary-color));
	margin-right: 2rem;
}

.navbar-brand:hover {
	color: hsl(var(--primary-color-hover));
}
